@model IEnumerable<CommunityPartners.Models.DonateService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ViewDonateService.cshtml";
}

<h1>Service List</h1>

<p>
    <a asp-action="Create">Add Your Service!!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationRadiusMiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationRadiusMiles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonateServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonateServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonateServiceId">Delete</a>
                @*<a asp-action="AcceptService" asp-route-id="@item.DonateServiceId">Accept Service</a>*@
                <a class="nav-link text-dark" asp-area="" asp-controller="DonateServicePartners" asp-route-id="@item.DonateServiceId" asp-action="Create">Accept Serivce</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="RateServices" asp-route-id="@item.DonateServiceId" asp-action="Create">Rate Service</a>
            </td>
        </tr>
}
    </tbody>
</table>
