@model CommunityPartners.Models.Partner

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Partner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeLocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeLocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReOccurringDayRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReOccurringDayRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestReceiveOrDonate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestReceiveOrDonate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountDonated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountDonated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemdonated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemdonated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilesTravelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilesTravelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionHistory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PartnerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
