@model IEnumerable<CommunityPartners.Models.RateService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ViewDonateService.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonateServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonateServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RateServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RateServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RateServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
