@model IEnumerable<CommunityPartners.Models.RateService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ViewDonateService.cshtml";
}

<h1>Index</h1>
<button type="submit" id="button1" name="button1" formaction='@Url.Action("Index", "RateService")'>Save</button>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonateServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonateServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RateServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RateServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RateServiceId">Delete</a>
            </td>
        </tr>

}
    </tbody>

</table>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">

            @*<div class="custom-select" style="width:200px;">
                <select>
                    <option value="0">Select rating:</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>

                </select>*@
                <label input name="submit" id="submit" class="control-label"></label>
                <input input name="submit" id="submit" class="form-control" />
                <input input name="submit" id="submit" type="submit" value="Find High Rating" class="btn btn-primary" />

            
        </form>
    </div>
</div>
