@model CommunityPartners.Models.RequestService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RequestService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroceryList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroceryList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingEntry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
