@model IEnumerable<CommunityPartners.Models.DonateServicePartners>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ViewDonateServicePartners.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonateServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayPalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingHelpfulnessId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonateServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayPalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingHelpfulnessId)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.DonateServicePartnersId">Delete</a> |
                <a asp-action="Details" asp-route-id="@item.DonateServicePartnersId">Details</a> |
                <a asp-action="ViewPartnerLocation" asp-route-id="@item.DonateServicePartnersId">View Partner Location</a>
            </td>
        </tr>
}
    </tbody>
</table>
